<div>
  <h3>Comment by <%= comment.author_name %></h3>
  <p>Posted <%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%A, %d %B %Y %R") %> </p>
  <p class="comment"><%= comment.body %></p>

</div>

<p>
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
